body {
    background-image: url(../img/fon1.png);
    background-size: 100%;
}

.header-line {
    position: absolute;
    width: 100%;
    height: 58px;
    background-color: #00000066;

}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 58px;
    padding-left: 79px;
    padding-right: 79px;
}

.header-right {
    display: flex;
    align-items: center;
    text-align: center;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header-link-span-1 {
    padding-right: 25px;
}

.header-link-span-2 {
    padding-right: 25px;
}

.header-link-span-3 {
    padding-right: 25px;
}

.header-link-span-4 {
    padding-right: 25px;
}

.header-link-1 svg{
    fill: #FFFFFF;
}

.header-link-1:hover svg{
    fill: #01813F;
}

.header-link-2 svg{
    fill: #FFFFFF;
}

.header-link-2:hover svg{
    fill: #01813F;
}

.header-link-3 svg{
    fill: #FFFFFF;
}

.header-link-3:hover svg{
    fill: #01813F;
}


.header-text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.header-log {
    text-decoration: none;
    color: #ffffff;

}

.header-sign {
    text-decoration: none;
    color: #ffffff;
}

.header-link:hover {
    color: #01813F;
}

.header-log:hover {
    color: #01813F;
}

.header-sign:hover {
    color: #01813F;
}

img:hover {
    color: #01813F;
}

.header-ll:hover {
    color: #01813F;
}


.main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-header {
    background-color: #ffffff;
    position: absolute;
    width: 444px;
    height: 584px;
    top: 112px;
}

.main-header-menu {
    display: flex;
    justify-content: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    width: 324px;
    color: #434343;
}

.span-1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.span-2-link {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.span-1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: 43px;
}

.header-buttons {
    display: flex;
    justify-content: center;

    width: 444px;
    gap: 4px;
    margin-top: 15px;
}

.button{
    color: white;
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

.red-button {
    background: #DF4A32;
    padding: 10px 27px 10px 12px;
}

.blue-button {
    background: #305DB8;
}

.button::after{
    content: "";
    position: absolute;
width: 1px;
height: 28px;
left: 48px;
top: 10px;

background: #0A162F;
mix-blend-mode: normal;
opacity: 0.1;
}

.header-title {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-line-1 {
    position: absolute;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin-right: 10px;
    margin-left: -162px;
}

.title-text {
    color: #848484;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.title-line-2 {
    position: absolute;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin-right: -10px;
    margin-left: 162px;
}

#Firstname {
    width: 304px;
    height: 44.08px;
    left: 61px;
    top: 164.96px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 12px;
}

#Lastname {
    width: 304px;
    height: 44px;
    left: 60px;
    top: 225px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

#Email {
    width: 304px;
    height: 44px;
    left: 60px;
    top: 284px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

#Choosepassword {
    width: 304px;
    height: 45px;
    left: 60px;
    top: 343px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

#Confirmpassword {
    width: 304px;
    height: 45px;
    left: 60px;
    top: 403px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 12px;
}

input {
    outline: none;
}

#Firstname:hover,
#Lastname:hover,
#Email:hover,
#Choosepassword:hover,
#Confirmpassword:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

#highload0 {
    width: 20px;
    height: 20px;
    left: 62px;
    top: 460px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
  }
  
  .input-field input {
    width: 324px;
    height: 44px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
  
  .input-field ::placeholder {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    color: #bebebe;
  }
  .input-field label > span {
    position: absolute;
    width: 241px;
    height: 20px;
    left: 90px;
    top: 478px;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  
  input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 310px;
    bottom: 15px;
  }
  .green {
    color: #3cb878;
  }
  
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  input[type="checkbox"]::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  input[type="checkbox"]:checked::before {
    background-color: #ffffff;
  }
  input[type="checkbox"]::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/vector3.svg");
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.2s;
    left: 1px;
    top: 1px;
  }
  
  input[type="checkbox"]:checked::after {
    opacity: 1;
  }
  
  .fill-area-button-create {
    position: absolute;
    width: 324px;
    height: 46px;
    left: 60px;
    top: 500px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
  }
  .fill-area-button-create:hover {
    background-color: #01813f;
    transition: 0.5s;
  }
  